

body {
	background-color: #999;
	font-family: arial;
}

h1, h2{
	color: #555;

}

.col {
	background: #333;
	border-radius: 5px;
	color: white;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31%;
}

.row {
	clear:both;
}


header {
	margin: 0;
	display: inline;
}

.nav ul li{
	background: blue;
	display: inline;
	color: white;
	list-style-type: none;
	padding: 5px 15px;
}

.pages li  {
	background: #777;
	color: white;
	padding: 5px 15px;
	list-style-type: none;

}

a {
	color: green;
}

.feat {
	background: red;
	color: white;
	padding: 10px;
	
}

p {
	background: #666;
	color: white;
	padding: 10px;
}


.city {
	color: blue;
	
}

footer {
	clear: both;
}